{% extends 'flatpages/default.html' %}

{% load static %}

{% block content %}

<h2>Наши реквизиты:</h2>
<hr>
    <table align="center">
    <tr>
        <td>
            <img src="{% static 'images/sber.png' %}" width="70" height="70">
        </td>
        <td>
            Реквизиты, реквизиты, реквизиты, реквизиты, реквизиты, реквизиты, реквизиты, реквизиты.
        </td>
    </tr>
    <tr>
        <td>
            <img src="{% static 'images/vtb.png' %}" width="80" height="80">
        </td>
        <td>
            Реквизиты, реквизиты, реквизиты, реквизиты, реквизиты, реквизиты, реквизиты, реквизиты.
        </td>
    </tr>
    <tr>
        <td>
            <img src="{% static 'images/tin.png' %}" width="70" height="70">
        </td>
        <td>
            Реквизиты, реквизиты, реквизиты, реквизиты, реквизиты, реквизиты, реквизиты, реквизиты.
        </td>
    </tr>
    <tr>
        <td>
            <img src="{% static 'images/qiwi.png' %}" width="90" height="70">
        </td>
        <td>
            Реквизиты, реквизиты, реквизиты, реквизиты, реквизиты, реквизиты, реквизиты, реквизиты.
        </td>
    </tr>
    </table>
<hr>
<h4>Связаться с нами, вы можете позвонив по этим номерам: +7-963-xxx-xx-xx, +7-924-xxx-xx-xx.</h4>
<style>
body{
    background-color: #a0e69e
   }
</style>
{% endblock content %}