{% extends 'flatpages/default.html' %}

{% load static %}

{% block content %}
<h3>Информация:</h3>
<hr>
<table align="center">
<tr>
    <td align="left">
        <h3>Цель</h3>
        Мы хотим реализовать концепцию походов выходного дня. Для этого мы собираем денежные средства для поддержания нашего проекта со всех, кому не различна эта проблема. Все собранные средства будут использованы в развитии городского туризма. Есть такие кампании, как visityakutia.com, которые предлагают туры в основном по республике, а наш проект предлагает различные пешие, велосипедные туристические маршруты в окрестности города.
    </td>
    <td align="left">
        <h3>Плюсы</h3>
        Это доступность для широких слоев населения, дешевизна транспортировки, красивые виды с сопок.
        возможность эвакуации с практически любой точки маршрута из-за близости Покровского тракта, прсоелочных дорог.
        Туристы в зависимости от физподготовки и климата могут выбрать не весь маршрут, а сойти с любого участка, выйти на остановку и уехать в город на любом пригородном автобусе.
        На наиболее живописных местах сопок возможно организовать столы, скамейки, локации для фотосессий.
    </td>
</table>

<p></p>
<p>Например, такие маршруты, как и Владимировка - Птицефабрика по сопкам, Ус-Хатын - Марха по сопкам, Маган- Якутск (по лесу) (Хангаласский улус) - Табагинский мыс - старая Табага В заболоченных местах сделать мостки, отсыпку для беспрепятсвенного передвижения туристов как пеших, так и на велосипедах. Ниже представлен один из вариантов маршрута и плана расположения сан точек и т.д.</p>

<style>
body{
    background-color: #a0e69e
   }
</style>
<hr>
<img src="{% static 'images/map.png' %}" width="1000" height="700">
<hr>
{% endblock content %}

