{% extends 'flatpages/default.html' %}

{% load static %}

{% block content %}
    <style>
    body{
        background-color: #a0e69e
       }
    </style>
    <h3>Интересные места и тур-операторы:</h3>
    <p>1) takutiatravel.ru
Национальный туроператор "Территория Севера"
О компании
"Территория Севера" ведет активную туроператорскую деятельность с 2014 года. За это время они накопили достаточный опыт в организации туров и экскурсий и в настоящее время предлагают полный спектр туристических услуг по организации отдыха в Якутии. "Территория Севера" является одной из ведущих туроператоров, работающих в сфере организации экскурсий, активных, познавательных и экологических туров. "Территория Севера" делают Якутию доступной для россиян и зарубежных туристов.
Тел. - +7 (968) 157 76 77
Почта - TERRITORIYASEVER@MAIL.RU</p>
<hr>
    <p>2) satal-tour.ru
Сатал тур - это туроператор Республики Саха (Якутия) по активному отдыху, экспедициям, рыбалке и охоте!
В перечень услуг,
предоставляемых компанией ООО «Саха-Сатал», входят такие направления как:

— Организация индивидуальных и групповых путешествий, экспедиций;
— Экскурсии;
— Бронирование средств размещения;
— Деловой туризм, семинары, форумы;
— Выставки;
— Организация корпоративного и семейного отдыха;
— Спортивная рыбалка и охота;
— Транспортные услуги;
— Визовая поддержка;
— Туры по всему миру;
— консультации и подбор зарубежной недвижимости;
— авиабилеты.</p>
<hr>
<p>3) https://experience.tripster.ru/experience/Yakutsk/
Tripster предлагают экскурсии в Якутске
Необычные экскурсии от местных жителей. Цены на экскурсии по городу от 2000 руб.</p>
<hr>
<p>4) https://argystour.ru/
ООО «Аргыс-Тур» турагентство было основано в 2011 году.
ООО «Аргыс Тур Авиа» - туроператор по Якутии: КРУИЗЫ НА ЛЕНСКИЕ СТОЛБЫ, Сплав по реке Буотама, Велосипедный тур «Окунево» и многое другое. Подробнее на сайте https://argystour.ru/yakutia</p>
<hr>
<p>5) [08:58, 22.04.2022] +374 94 631419: "Зоополис" мини-зоопарк
Telegram - @zoopolis_ykt
Адрес - г. Якутск, 202 микрорайон, корпус 1/2, тел. - 8 (924) 166-22-61//Адрес - г. Якутск, ул. Жорницкого 7/9А, тел. - 8 (924) 874-17-37
Работает ежедневно с 10 до 20 часов.
Instagram - @zoopolis_ykt\
[08:58, 22.04.2022] +374 94 631419: Имеется бесплатная интерактивная детская зона, комната для праздников, кафе</p>
<hr>
<p>6) "Урдэл" парк
Работает каждый день с 11 до 00 ч.
Для брони домиков, беседок, приобретения билетов.</p>

{% endblock content %}